---
import Layout from "../layouts/Layout.astro";

const title = "Events Home"
---

<Layout title = {title}>
  <div class="content">
    <h1>Events</h1>
    <p>A  few times per quarter, <span class="fancy">FOSL</span> hosts community events. Be on the lookout for something interesting in our <a href="#upcoming-events">upcoming events</a>, or take a peek at our <a href="#past-events">past events</a>.</p>
  </div>
</Layout>