---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="astro-cube">
  <main>
    <article class="region prose wrapper hero">
      <h1>Welcome!</h1>

      <h2>Astro CubeCSS Starter</h2>
    </article>

    <article class="region prose wrapper hero">
      <h2>Section 1</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque repellat nam illo reiciendis accusantium corrupti incidunt perspiciatis architecto modi quisquam quae, praesentium repellendus laudantium omnis quaerat distinctio. Necessitatibus, quas eveniet.</p>
    </article>

    <article class="region prose wrapper ">
    <h2>Section 2</h2>
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>Sub A</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, labore?
          </p>
        </li>
        <li class="flow">
          <h3>Sub B</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, temporibus?
          </p>
        </li>
        <li class="flow">
          <h3>Sub C</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, iste.
          </p>
        </li>
        <li class="flow">
          <h3>Sub D</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, et!
          </p>
        </li>
      </ul>
    </article>

    <Footer />
  </main>
</Layout>
